COMPOSE_PROJECT_NAME=bomcurriculo

POSTGRES_DB=atsdatabase
POSTGRES_USER=ats
POSTGRES_PASSWORD=ats
POSTGRES_PORT=5434

REDIS_PORT=6379

BACKEND_PORT=9000
FRONTEND_PORT=5173
BOT_PORT=8000

# Segredo compartilhado, injetado nos containers backend e bot
BOT_API_KEY=
